<form [formGroup]="passwordForm" (ngSubmit)="submitChangedPassword()">
  <label>Old Password</label> <label class="required">*</label
  ><label>:</label><br />
  <input
    matInput
    formControlName="oldPassword"
    class="main-input"
    type="password"
  /><br /><br />
  <label>New Password</label> <label class="required">*</label
  ><label>:</label><br />
  <input
    matInput
    formControlName="newPassword"
    class="main-input"
    type="password"
  /><br />
  <label>Repeat new Password</label> <label class="required">*</label
  ><label>:</label><br />
  <input
    matInput
    formControlName="newPasswordCheck"
    class="main-input"
    type="password"
  /><br />
  <mat-error
    *ngIf="passwordForm.get('newPasswordCheck')?.errors?.['notEqual']"
  >
    Missmatched passwords
  </mat-error>
  <div class="main-form-button">
    <button mat-button type="submit">Change Password</button>
  </div>
  <mat-error
    *ngIf="(passwordForm.get('oldPassword')?.errors?.['required'] ||
    passwordForm.get('newPassword')?.errors?.['required'] ||
    passwordForm.get('newPasswordCheck')?.errors?.['required']) && buttonClicked"
  >
    Bro. <br />
    Fill out the required(<label class="required">*</label>) fields ;)
  </mat-error>
</form>
