//Make sure the colors here are the same as in colors.ts
$red: #ff0000 !default;
$white: #f5f5f5 !default;
$yellow: #ddd233 !default;
$gray: #6c6c6c !default;
$gray_light_1: #929292 !default;
$gray_light_2: #c4c4c4 !default;
$gray_light_3: #f0f0f0 !default;
$gray_dark_1: #555555 !default;
$gray_dark_2: #424242 !default;
$gray_transparent: rgba(255, 255, 255, .5) !default;

