@import "../../../theming/theming";

.container{
  padding-top: $displayUnit;
}

h3 {
  margin: 0 0 $displayUnit * 2;
}

pre {
  background-color: $white;
  padding: $displayUnit * 3;
}

.calendar {
  color: var(--bs-blue); //TODO: somehow make it that it uses the apps themes color-palette
}

.title {
  text-align: center;
}
