@import "../../../theming/theming";

.container{
  padding-top: $displayUnitSmall;
}

h3 {
  margin: 0 0 $displayUnitSmall * 2;
}

.calendar {
  color: var(--color-primary);
}

.title {
  text-align: center;
}
